*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .field-style{
    color: white;
    width: 20%;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #99e6d8;
}
.field-style legend{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    color: midnightblue;
    text-align:center;
    box-shadow:2px 2px 2px white;
    border:1px solid midnightblue;
} */
.avatar{
    display: inline-block;
    font-size: 50%;
    /* height: 50px; */
    border: 1px solid black;
    border-radius: 50%;
    padding : 5px;
}
.green{
    color: green;
    font-weight: 800;
}
.red{
    color: red;
    font-weight: 800;
}
span{
    font-size: small;
}
.decision{
    position: absolute;
    top: 100;
    left:100;
    z-index: 1000;
    width: 50%;
    background-color: #313133;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%236c6676' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}